ul.projets-pagination{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.projets-pagination-item.active button{
    color: var(--text-light);
    background-color: var(--title-dark);

}

.projets-pagination-item button{
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: var(--text-light);
    border: 1px solid var(--title-dark);
    text-decoration: none;
    padding:  0.5rem 1rem;
    color: var(--title-dark);
}

.projets-pagination-item button[disabled]{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    color: var(--text-light);
}
.projets-pagination-item button[disabled]:hover{
    background-color: lightgrey;
    border: 1px solid var(--text-light);
    color: var(--text-light);
    cursor: not-allowed;
}


.projets-pagination-item button:hover{
    background-color: var(--title-dark);
    color: var(--text-light);
    transition: all 0.3s ease-out;
}