section.hero{
    position: relative;
    color: var(--text-light);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/img/keyboard.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50rem;
    opacity: 1;
    margin-bottom: 2rem;
}

section.projects{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/img/projets.jpg');
}

.projets-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    column-gap: 2rem;
    row-gap: 4rem;
    margin-bottom: 4rem;
    justify-items: center;
    transition: all ease-out 0.2s;
}

.projets-container.transitionIn{
    transform: translateX(-100%);
    opacity: 0;
    transition: all ease-out 0.2s;
}

.projets-container.transitionOut{
    transform: translateX(100%);
    opacity: 0;
    transition: all ease-out 0.2s;
}

@media screen and (max-width: 820px){
    .projets-container{
        grid-template-columns: 1fr;
    }
}