<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Accueil</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/base.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/all.css">
</head>
<body>
<header>
  <div class="container">
    <div class="site-title">
      Alexis Molineau
    </div>
    <nav class="main-nav" aria-label="navigation principale">
      <ul class="nav-list" aria-expanded="false" role="menu">
        <li class="nav-list-item">
          <a href="#" role="menuitem">Accueil</a>
        </li>
        <li class="nav-list-item">
          <a href="#" role="menuitem">Projets</a>
        </li>
        <li class="nav-list-item active">
          <a href="#" role="menuitem">CV</a>
        </li>
        <li class="nav-list-item">
          <a href="#" role="menuitem">Contact</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
</header>
<main>
  <section class="cv-title">
    <div class="container">
      <h1>CV</h1>
    </div>
  </section>
  <section class="cv-content">
    <div class="container">
      <div class="competences">
        <h2>Compétences</h2>
        <div class="front">
          <h3>Front</h3>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
        </div>
        <div class="back">
          <h3>Back</h3>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
        </div>
      </div>
      <div class="cv-container">
        <div class="experiences">
          <h2>Expériences</h2>
          <ul class="cv-list">
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="formations">
          <h2>Formations</h2>
          <ul class="cv-list">
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
            <li class="cv-list-item">
              <h3>Responsable Webmarketing</h3>
              <div class="cv-list-content">
                <div class="cv-top">
                  <p class="cv-date">Septembre 2017 à janvier 2020</p>
                  <p class="cv-entreprise"><i class="fab fa-js-square" aria-hidden="true"></i>Comme des Papas</p>
                </div>
                <p class="cv-description">Acquisition et fidélisation de la clientèle. Webmastering du site e-commerce.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="container">
    <nav class="footer-nav" aria-label="navigation footer">
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      © 2021 Alexis Molineau
    </div>
  </div>
</footer>
<script src="./js/main-menu.js"></script>
<script src="./js/card.js"></script>
</body>
</html>