<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Accueil</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/base.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/all.css">
</head>
<body>
<header>
  <div class="container">
    <div class="site-title">
      Alexis Molineau
    </div>
    <nav class="main-nav" aria-label="navigation principale">
      <ul class="nav-list" aria-expanded="false" role="menu">
        <li class="nav-list-item">
          <a href="#" role="menuitem">Accueil</a>
        </li>
        <li class="nav-list-item active">
          <a href="#" role="menuitem">Projets</a>
        </li>
        <li class="nav-list-item">
          <a href="#" role="menuitem">CV</a>
        </li>
        <li class="nav-list-item">
          <a href="#" role="menuitem">Contact</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
</header>
<main>
  <section class="hero projects">
    <div class="container">
      <h1>Contenu random</h1>
      <p>Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla, interdum a
        eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin fringilla et mi sed tempor.
        Cras placerat dolor lorem, nec molestie ligula feugiat in. Fusce aliquam, arcu ac elementum tincidunt,
        lectus mi interdum risus, non.

      </p>
    </div>
  </section>
  <section class="projets">
    <h2>Mes projets</h2>
    <div class="container">
      <div class="projets-container">
        <div class="card">
          <div class="card-top">
            <div class="card-title-container">
              <img src="./img/marketflex.jpg" alt="marketflex">
              <h3 class="card-title">Titre du projet</h3>
            </div>
            <p class="card-description">
              Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla,
              interdum a eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin
              fringilla et mi sed tempor.
            </p>
          </div>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
          <a class="button" href="#"><span>Visiter<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span></a>
        </div>
        <div class="card">
          <div class="card-top">
            <div class="card-title-container">
              <img src="./img/marketflex.jpg" alt="marketflex">
              <h3 class="card-title">Titre du projet</h3>
            </div>
            <p class="card-description">
              Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla,
              interdum a eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin
              fringilla et mi sed tempor. Cras placerat dolor lorem, nec molestie ligula feugiat in. Fusce
              aliquam, arcu ac elementum tincidunt, lectus mi interdum risus, non.
            </p>
          </div>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
          <a class="button" href="#"><span>Visiter<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span></a>
        </div>
        <div class="card">
          <div class="card-top">
            <div class="card-title-container">
              <img src="./img/marketflex.jpg" alt="marketflex">
              <h3 class="card-title">Titre du projet</h3>
            </div>
            <p class="card-description">
              Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla,
              interdum a eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin
              fringilla et mi sed tempor. Cras placerat dolor lorem, nec molestie ligula feugiat in. Fusce
              aliquam, arcu ac elementum tincidunt, lectus mi interdum risus, non.
            </p>
          </div>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
          <a class="button" href="#"><span>Visiter<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span></a>
        </div>
        <div class="card">
          <div class="card-top">
            <div class="card-title-container">
              <img src="./img/marketflex.jpg" alt="marketflex">
              <h3 class="card-title">Titre du projet</h3>
            </div>
            <p class="card-description">
              Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla,
              interdum a eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin
              fringilla et mi sed tempor. Cras placerat dolor lorem, nec molestie ligula feugiat in. Fusce
              aliquam, arcu ac elementum tincidunt, lectus mi interdum risus, non.
            </p>
          </div>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
          <a class="button" href="#"><span>Visiter<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span></a>
        </div>
        <div class="card">
          <div class="card-top">
            <div class="card-title-container">
              <img src="./img/marketflex.jpg" alt="marketflex">
              <h3 class="card-title">Titre du projet</h3>
            </div>
            <p class="card-description">
              Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla,
              interdum a eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin
              fringilla et mi sed tempor. Cras placerat dolor lorem, nec molestie ligula feugiat in. Fusce
              aliquam, arcu ac elementum tincidunt, lectus mi interdum risus, non.
            </p>
          </div>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
          <a class="button" href="#"><span>Visiter<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span></a>
        </div>
        <div class="card">
          <div class="card-top">
            <div class="card-title-container">
              <img src="./img/marketflex.jpg" alt="marketflex">
              <h3 class="card-title">Titre du projet</h3>
            </div>
            <p class="card-description">
              Donec condimentum sagittis nunc id pharetra. Phasellus nec libero eros. Proin erat nulla,
              interdum a eleifend dignissim, pretium congue velit. Donec id suscipit purus. Proin
              fringilla et mi sed tempor. Cras placerat dolor lorem, nec molestie ligula feugiat in. Fusce
              aliquam, arcu ac elementum tincidunt, lectus mi interdum risus, non.
            </p>
          </div>
          <ul class="techno-list">
            <li class="techno-list-item"><a href="#"><i class="fab fa-wordpress" aria-hidden="true"></i>WordPress</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-php" aria-hidden="true"></i>PHP</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-html5" aria-hidden="true"></i>HTML</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-css3-alt" aria-hidden="true"></i>CSS</a></li>
            <li class="techno-list-item"><a href="#"><i class="fab fa-js-square" aria-hidden="true"></i>Javascript</a></li>
          </ul>
          <a class="button" href="#"><span>Visiter<i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span></a>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="projets-pagination">
        <li class="projets-pagination-item"><a href=""><i class="fas fa-chevron-left" aria-hidden="true"></i></a></li>
        <li class="projets-pagination-item active"><a href="">1</a></li>
        <li class="projets-pagination-item"><a href="">2</a></li>
        <li class="projets-pagination-item"><a href="">3</a></li>
        <li class="projets-pagination-item"><a href=""><i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </section>
</main>
<footer>
  <div class="container">
    <nav class="footer-nav" aria-label="navigation footer">
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
      <ul class="footer-nav-list" role="menu">
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" role="menuitem">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            Lien externe
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      © 2021 Alexis Molineau
    </div>
  </div>
</footer>
<script src="./js/main-menu.js"></script>
<script src="./js/card.js"></script>
</body>
</html>